.request {
  text-align: center;
  padding: 0;
}

.request__status {
  padding: 0;
}

.request__status--loading {
  color: var(--color-info);
}

.request__status--success {
  color: var(--color-success);
}

.request__status--error {
  color: var(--color-error);
}